*.cfg
*.data
*.names
*.weights
__pycache__
*.dll
.vs
*.exp
*.lib
*.pdb
*.obj
*.tlog
x64
x86
.vscode
*.jpg
*.pt
*.pth
*.JPEG
*.png
*.PNG
*.h5
/data_backup
/heatmap/*
/dark_model
/darknet
/ultralytics
/xai_darknet
/yolov5
/checkpoint
/build
/konan_xai.egg-info
*.dts